
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Katiau</title>

    <link href="~/CSS/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/CSS/lightbox.css">

    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/JS/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
    <!-- header- -->
    <div class="banner">
        <div class="container">
            <div class="headr-right">
            </div>
            <div class="banner_head_top">
                <div class="logo">
                    <h1><a href="~/Menu/Home">Katiau<img src="~/images/Logos/katiaulogo.png" width="50" height="50" /></a></h1>
                </div>
                <div class="top-menu">
                    <div class="content white">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!--/navbar header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="~/Menu/Home">Home</a></li>
                                    <li><a href="~/Menu/Equipe">Sobre</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="scroll dropdown-toggle" data-toggle="dropdown">Análises<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/Posts/Posts">Posts</a></li>
                                            <li><a href="~/Reviews/Reviews">Review PC World</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="~/Menu/Galeria">Galeria</a></li>
                                    <li><a href="~/Loja/Principal">Loja</a></li>
                                    <li><a href="~/Menu/Contato">Contato</a></li>

                                    @if (ViewBag.Logado == null)
                                    {
                                        <li class="imagemUser">
                                            <span class="loginform" id="loginform">
                                                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                                                <script src="~/JS/index.js"></script>
                                                <img class="login-sign-image" src="~/images/usuarioHover.png"
                                                     onmouseover="this.src='/images/usuario.png'"
                                                     onmouseout="this.src='/images/usuarioHover.png'" />
                                                <div class="login">
                                                    <div class="arrow-up"></div>
                                                    <div class="formholder" style="display: block;">
                                                        <div class="randompad">
                                                            <form method="post" action="~/Menu/Home">
                                                                <e class="msg-erro-login">@ViewBag.MsgErro</e>
                                                                <label class="email" name="email">Email</label>
                                                                <input type="email" id="email" name="email" />
                                                                <label class="senha" name="password">Password</label>
                                                                <input type="password" id="senha" name="senha" />
                                                                <input type="submit" value="Login" />
                                                                <h4 class="cadastrar">Não possui uma conta? <a href="~/Menu/Cadastro"><strong>Cadastre-se </strong></a></h4>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </li>
                                    }
                                    @if (ViewBag.NivelAcesso == true)
                                    {
                                        <li><a href="~/Adm2/Listar">ADM</a></li>
                                    }
                                    @if (ViewBag.Logado != null)
                                    {
                                        <li class="imagemUser">
                                            <span class="loginform" id="loginform">
                                                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                                                <script src="~/JS/index.js"></script>
                                                <img class="login-sign-image" src="~/images/usuarioHover.png"
                                                     onmouseover="this.src='/images/usuario.png'"
                                                     onmouseout="this.src='/images/usuarioHover.png'" />

                                                <div class="login">
                                                    <div class="arrow-up"></div>
                                                    <div class="formholder" style="display: block;">
                                                        <div class="randompad">
                                                            <a href="~/Perfil/Index"><img class="imagem-logado" src="~/images/img_users/@ViewBag.ImagemU" /></a>
                                                            <p class="login-user-nome">@ViewBag.NomeU <e class="nick-login"><strong>"@ViewBag.NickU"</strong></e><e class="login-user-info"> @ViewBag.SobrenomeU</e></p>
                                                            <a class="deslogar-bt" href="~/Menu/Sair"><strong>Sair</strong></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>

                    </div>
                    <div class="clearfix"></div>
                    <script type="text/javascript" src="~/JS/bootstrap-3.1.1.min.js"></script>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="banner-info">
                <h3>Bem-Vindo ao nosso Site</h3>
                <h2>Katiau</h2>
                <h1>O mais novo simulador de corridas de rua</h1>
            </div>
            <div class="social">
                <ul>
                    <li><a href="https://www.facebook.com/Katiau-167535650431869/"><span class="fa"> </span></a></li>
                    <li><a href="https://twitter.com/KatiauTheGame?lang=pt-br"><span class="tw"> </span></a></li>
                    <li><a href="https://www.instagram.com/katiauenterprise/"><span class="in"> </span></a></li>
                    <li><a href="https://www.pinterest.com/katiauthe"><span class="pin"> </span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
    <!---->
    <div class="content">
        <div class="container">
            <div class="col-md-8 content-left">
                <div class="information">
                    <h4>Ultimas Notícias</h4>
                    <div class="information_grids">
                        <div class="info">
                            <p>" Bastidores da nossa equipe na E3 2016.</p>
                            <a href="~~/Menu/Equipe">Leia Mais</a>
                        </div>
                        <div class="info-pic">
                            <img src="~/images/ps.png" class="img-responsive" alt="" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="games-grids">
                    <div class="game-grid-left">
                        <div class="grid1">
                            <h5 class="act"><a href="~/Posts/Padrao">Eventos</a></h5>
                            <a href="~/News/Index"><img src="~/images/c1.jpg" class="img-responsive" alt="" /></a>
                            <div class="grid1-info">
                                <h4><a href="~/Posts/Padrao">ALT + TAB | Beta Finalizado</a></h4>
                                <p>Confira os bastidores de mais uma etapa finalizada de nosso Open-BETA.</p>
                            </div>
                            <div class="more">
                                <a href="~/Posts/Padrao">Leia Mais</a>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 content-right">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav2" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Notícias</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Postagens Recentes</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active re-pad2" id="home">

                        <!--Game 1-->
                        <div class="game1">
                            <div class="col-md-3 tab-pic">
                                <a href="~/Reviews/Drift"><img src="~/images/tr1.jpg" alt="/" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9 tab-pic-info">
                                <h4><a href="~/Reviews/Drift">Drift</a></h4>
                                <p>Drift ou Drifting , é uma técnica de direção de carros que consiste em deslizar nas curvas...</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="game1">
                            <div class="col-md-3 tab-pic">
                                <a href="~/Reviews/Neve"><img src="~/images/g8.jpg" alt="/" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9 tab-pic-info">
                                <h4><a href="~/Reviews/Neve">Dirigir na Neve</a></h4>
                                <p>Dirigir na neve exige cuidados especiais com o veículo e uma atenção...</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="game1">
                            <div class="col-md-3 tab-pic">
                                <a href="~/Reviews/Vantagens"><img src="~/images/g2.jpg" alt="/" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9 tab-pic-info">
                                <h4><a href="~/Reviews/Vantagens">Vantagem em jogar Video Games</a></h4>
                                <p>Pesquisas mostram que videogames podem aumentar a coordenação motora...</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <!--Game Post-->
                    <div role="tabpanel" class="tab-pane re-pad2" id="profile">
                        <div class="game-post">
                            <div class="col-md-3 tab-pic">
                                <a href="~/Single/Index"><img src="~/images/tr4.jpg" alt="/" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9 tab-post-info">
                                <h4><a href="~/Single/Index">Nissan Skyline</a></h4>
                                <p>Posted By <a>Admin</a> &nbsp;&nbsp; on Jun 2, 2016 &nbsp;&nbsp; <a>Comentários (10)</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="game-post">
                            <div class="col-md-3 tab-pic">
                                <a href="~/Single/Index"><img src="~/images/tr5.jpg" alt="/" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9 tab-post-info">
                                <h4><a href="~/Single/Index">Burnout</a></h4>
                                <p>Posted By <a>Admin</a> &nbsp;&nbsp; on Aug 29, 2016 &nbsp;&nbsp; <a>Comentários (3)</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="game-post">
                            <div class="col-md-3 tab-pic">
                                <a href="~/Single/Index"><img src="~/images/tr6.jpg" alt="/" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9 tab-post-info">
                                <h4><a href="~/Single/Index">Need For Speed</a></h4>
                                <p>Posted By <a>Admin</a> &nbsp;&nbsp; on Feb 10, 2017 &nbsp;&nbsp; <a>Comentários (4)</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="photo-gallery">
                    <h4>Galeria de Fotos</h4>
                    <div class="gallery-1">
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g1.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g1.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g2.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g2.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g3.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g3.jpg" alt="" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gallery-1">
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g4.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g4.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g5.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g6.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g6.jpg" alt="" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gallery-1">
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g7.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g7.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g8.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g8.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-4 gallery-grid-pic">
                            <a class="example-image-link" href="~/images/g9.jpg" data-lightbox="example-set"><img class="example-image" src="~/images/g9.jpg" alt="" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script src="~/JS/lightbox-plus-jquery.min.js"></script>


    <div class="copywrite">
        <div class="container">
            <p> © 2017 Katiau. Todos os direitos reservados. | Design by <a href="http://w3layouts.com/" style="color: #B01030;">W3layouts</a></p><a href="~/Administrador/Index"> Adm</a>
        </div>
    </div>
</body>
</html>