
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
<head>
    <title>Review | PC World</title>

    <link href="~/CSS/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />

    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/JS/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


</head>
<body>
    <!-- header -->
    <div class="banner banner2">
        <div class="container">
            <div class="headr-right">
            </div>
            <div class="banner_head_top">
                <div class="logo">
                    <h1><a href="~/Home/Index">Katiau<img src="~/images/Logos/katiaulogo.png" width="50" height="50" /></a></h1>
                </div>
                <div class="top-menu">
                    <div class="content white">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!--/navbar header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/About/Index">Sobre</a></li>
                                    <li class="active">
                                        <a href="#" class="scroll dropdown-toggle" data-toggle="dropdown">Análises<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/TechMundo/Index">Review TechMundo</a></li>
                                            <li><a href="~/Review/Index">Review PC World</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/Gallery/Index">Galeria</a></li>
                                    <li><a href="~/Store/Index">Loja</a></li>
                                    <li><a href="~/Contact/Index">Contato</a></li>
                                    <li class="imagemUser">
                                        <span class="loginform" id="loginform">
                                            <script src="~/JS/index.js"></script>
                                            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

                                            <img class="login-sign-image" src="~/images/usuarioHover.png"
                                                 onmouseover="this.src='/images/usuario.png'"
                                                 onmouseout="this.src='/images/usuarioHover.png'" />
                                            <div class="login">
                                                <div class="arrow-up"></div>
                                                <div class="formholder" style="display: block;">
                                                    <div class="randompad">
                                                        <fieldset>
                                                            <label class="email" name="email">Email</label>
                                                            <input type="email" />
                                                            <label class="senha" name="password">Password</label>
                                                            <input type="password" />
                                                            <input type="submit" value="Login" />
                                                            <h4 class="cadastrar">Não possui uma conta? <a href="~/Cadastro/Index"><b>Cadastre-se </b></a></h4>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!--/navbar collapse-->
                        </nav>
                        <!--/navbar-->
                    </div>
                    <div class="clearfix"></div>
                    <script type="text/javascript" src="~/JS/bootstrap-3.1.1.min.js"></script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <h2>Ver Post</h2>
        <a href="/Adm2/Listar">Voltar à listagem</a>
    </div>
    <div class="CriarUser">
        <section>
            
            <h4>@(ViewBag.Mensagem)</h4>
            <form method="post" action="/Usuario/Novo">
                

                <p> Nick: <input type="text" name="NickU" id="NickU" placeholder="Digite o Nick" required /></p>
                <p> Nome: <input type="text" name="NomeU" id="NomeU" placeholder="Digite o Nome " required /></p>
                <p> Sobrenome: <input type="text" name="SobrenomeU" id="SobrenomeU" placeholder="Digite o sobrenome" required /></p>
                <p> Email: <input type="text" name="EmailU" id="EmailU" placeholder="Digite o sobrenome" required /></p>
                <p> Senha: <input type="password" name="SenhaU" id="SenhaU" placeholder="Digite a senha" required /></p>
                <p> Imagem: <input type="file" name="ImagemU" id="ImagemU" placeholder="Imagem Perfil"  /></p>
                <p> Data: <input type="text" name="NascimentoU" id="NascimentoU" placeholder="DD/MM/AAAA" required /></p>
                <p> Biografia: <textarea rows="10" cols="40" name="BioU" id="BioU" placeholder="Digite Bio" ></textarea></p>
                <p><input type="submit" name="Enviar" id="Enviar" value="Enviar" /></p>
            </form>
        </section>


    </div>
    <div class="copywriteLoja">
        <div class="container">
            <p> © 2017 Katiau. Todos os direitos reservados| Design by <a href="http://w3layouts.com/" style="color: #B01030">w3layouts</a></p>
        </div>
    </div>
</body>
</html>

