
@{
    Layout = null;
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TechMundo</title>
    <link href="~/CSS/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />

    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/JS/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


</head>
<body>
    <!-- header -->
    <div class="banner banner2">
        <div class="container">
            <div class="headr-right">
            </div>
            <div class="banner_head_top">
                <div class="logo">
                    <h1><a href="~/Home/Index">Katiau<img src="~/images/Logos/katiaulogo.png" width="50" height="50" /></a></h1>
                </div>
                <div class="top-menu">
                    <div class="content white">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!--/navbar header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/About/Index">Sobre</a></li>
                                    <li class="active">
                                        <a href="#" class="scroll dropdown-toggle" data-toggle="dropdown">Análises<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/TechMundo/Index">Review TechMundo</a></li>
                                            <li><a href="~/Review/Index">Review PC World</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/Gallery/Index">Galeria</a></li>
                                    <li><a href="~/Store/Index">Loja</a></li>
                                    <li><a href="~/Contact/Index">Contato</a></li>
                                </ul>
                            </div>
                            <!--/navbar collapse-->
                        </nav>
                        <!--/navbar-->
                    </div>
                    <div class="clearfix"></div>
                    <script type="text/javascript" src="~/JS/bootstrap-3.1.1.min.js"></script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="review">
        <div class="container">
            <h2>Projet CARS</h2>
            <div class="review-sec">
                <div class="review-grids">
                    <div class="col-md-6 revw">
                        <div class="rft-grid">
                            <div class="col-md-5 rft-pic">
                                <a><img src="~/images/cars-1.jpg" class="img-responsive" alt="" /></a>
                            </div>
                            <div class="col-md-7 rft-pic-info">
                                <h4><a>Sobre o jogo</a></h4>
                                <p>
                                    Project CARS (Community Assisted Racing Simulator) é um jogo do gênero simulador de corrida desenvolvido pela 
                                    companhia Slightly Mad Studios. Foi lançado para PlayStation 4, Xbox One e Microsoft Windows em 7 de maio de 
                                    2015, e para Wii U e SteamOS mais tarde em 2015. Através da compra de "pacotes", jogadores 
                                    puderam contribuir para o desenvolvimento em diferentes partes do projeto. Os membros têm alguns benefícios 
                                    de acordo com o pacote que adquiriram, recebendo uma parte do lucro das vendas, gerados nos primeiros 2 anos 
                                    após o lançamento, como recompensa pelo seu esforço, a ser pago trimestralmente.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 revw">
                        <div class="rft-grid">
                            <div class="col-md-5 rft-pic">
                                <a><img src="~/images/cars-4.jpg" class="img-responsive" alt="" /></a>
                            </div>
                            <div class="col-md-7 rft-pic-info">
                                <h4><a>Simulador realístico</a></h4>
                                <p>
                                    A Slightly Mad Studios tem como alvo um simulador realístico. Para diferenciar o jogo de líderes estabelecidos como 
                                    Gran Turismo ou Forza Motorsport, o jogo tem à partida todos os carros desbloqueados e todas as provas da carreira 
                                    desbloqueadas.
                                    Há mais de 70 carros licenciados e atualmente estão confirmadas mais de 110 pistas para estar no lançamento ou em 
                                    pacotes DLC. Para além das pistas reais, como Spa-Francorchamps, por exemplo, e pistas de kart fictícias, há também 
                                    duas pistas "ponto a ponto", inspiradas em locais reais como Côte d'Azur, Costa Pacífica da Califórnia.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="review-grids">
                    <div class="col-md-6 revw">
                        <div class="rft-grid">
                            <div class="col-md-5 rft-pic">
                                <a><img src="~/images/cars-6.jpg" class="img-responsive" alt="" /></a>
                            </div>
                            <div class="col-md-7 rft-pic-info">
                                <h4><a>Vantagens</a></h4>
                                <p>
                                    O jogo utiliza o Madness Engine, que foi usado nos jogos Need for Speed Shift também e que foi modificado durante o desenvolvimento. O maior poder de processamento dos computadores atuais possibilitou a introdução de um modelo dinâmico de pneus, designado "SETA", para ser usado no Project CARS, ao invés do modelo fixo baseado nas tabelas como foi usado em simuladores de gerações anteriores.

                                    Alem da contribuição da comunidade, Slightly Mad Studios contratou os serviços do piloto Ben Collins, que também participou do programa Top Gear como "Stig", Nicolas Hamilton,  piloto no Campeonato Britânico de Carros de Turismo (BTCC) e irmão mais novo da estrela da Fórmula 1 Lewis Hamilton, Oli Webb, atualmente piloto na ELMS, René Rast, piloto no WEC, Christie Doran e William Tregurtha.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 revw">
                        <div class="rft-grid">
                            <div class="col-md-5 rft-pic">
                                <a><img src="~/images/cars3.jpg" class="img-responsive" alt="" /></a>
                            </div>
                            <div class="col-md-7 rft-pic-info">
                                <h4><a>Execução e recompensa</a></h4>
                                <p>
                                    Mesmo com um bom periférico de volante, Project CARS não é exatamente um jogo fácil. Ou, pelo menos, não é um jogo que possa ser confundido com uma abordagem mais arcade. Não mesmo. Na verdade, para quem não tem muita prática ao volante, até manter o carro sobre a pista pode ser um belo desafio. Apesar disso, longe de ser uma instrutora de autoescola sádica, a Slightly Mad oferece diversas opções para não espantar os pilotos virtuais de primeira viagem. Logo no início, por exemplo, é possível escolher entre “Novato”, “Amador” e “Profissional”, determinando questões como a troca de marchas e a dificuldade dos pilotos controlados pela I. A.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="copywrite">
        <div class="container">
            <p> © 2017 Katiau .Todos os direitos reservados| Design by <a href="http://w3layouts.com/">w3layouts</a></p>
        </div>
    </div>
    </head>
    <body>
        <div>
        </div>
    </body>
</html>
