
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Katiau</title>

    <link href="~/CSS/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />

    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/JS/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


</head>
<body>
    <!-- header -->
    <div class="banner banner2">
        <div class="container">
            <div class="headr-right">
            </div>
            <div class="banner_head_top">
                <div class="logo">
                    <h1><a href="~/Home/Index">Katiau<img src="~/images/Logos/katiaulogo.png" width="50" height="50" /></a></h1>
                </div>
                <div class="top-menu">
                    <div class="content white">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!--/navbar header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/About/Index">Sobre</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="scroll dropdown-toggle" data-toggle="dropdown">Análises<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/TechMundo/Index">Review TechMundo</a></li>
                                            <li><a href="~/Review/Index">Review PC World</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/Gallery/Index">Galeria</a></li>
                                    <li><a href="~/Store/Index">Loja</a></li>
                                    <li ><a href="~/Contact/Index">Contato</a></li>
                                </ul>
                            </div>
                            <!--/navbar collapse-->
                        </nav>
                        <!--/navbar-->
                    </div>
                    <div class="clearfix"></div>

                    <script type="text/javascript" src="~/JS/bootstrap-3.1.1.min.js"></script>
                </div>
                <div class="clearfix"></div>
            </div>
            

            
            

        </div>

    </div>
    <!--TITULO E IMAGEM-->
    <h1 class="titulo">Katiau PC</h1>
    <div class="capaPC">
        <img  src="~/images/Logos/pcgamelogokatiau com logo.jpg" width="500" height="700" />
    </div>
     

    <!--CARRINHO DE COMPRAS-->
    <div class="carrinho">
        <!--BOTÃO COMPRAR-->
        <strong class="preco">R$ 199,91</strong>
        <form target="pagseguro" method="post" action="https://pagseguro.uol.com.br/checkout/checkout.jhtml">
            <input type="hidden" name="email_cobranca" value="suporte@lojamodelo.com.br" />
            <input type="hidden" name="tipo" value="CBR" />
            <input type="hidden" name="moeda" value="BRL" />
            <input type="hidden" name="item_id" value="12345" />
            <input type="hidden" name="item_descr" value="Descrição do item a ser vendido" />
            <input type="hidden" name="item_quant" value="1" />
            <input type="hidden" name="item_valor" value="19991" />
            <input type="hidden" name="frete" value="0" />
            <input type="hidden" name="peso" value="0" />
            <input class="bot_comprar" type="image" name="submit" src="http://static.kabum.com.br/conteudo/temas/001/imagens/icones/comprar_detalhes.png"  />
        </form>
        
    </div>

    <!--SOBRE O JOGO-->
    <div class="sobre">
        <p>Katiau insere o jogador na pele de um piloto de corrida. Sua imersão permite que o usuário vivencie a adrenalina de participar de competições emocionantes, dirigindo um carro de alta potência, totalmente customizável.
            O jogo utiliza uma engine com física realística, o que aumenta ainda mais ainda a complexidade e o detalhamento deste que é considerado pela crítica como o melhor simulador desse gênero disponível no mercado.</p>
    </div>

    <!--ESPECIFICAÇÕES TECNICAS DO JOGO-->
    <p class="detalhes">
        <strong>Características:</strong> <br />
        - Marca: Positivo<br />
        - Game: Katiau<br />

        <strong>Especificações:</strong> <br />
        - Plataforma: PC;<br />
        - Desenvolvedor: Katiau Enterprise;<br />
        - Gênero: Simulador;<br />
        - Suporte a VR;<br />
        - Idioma: Audio e Legenda Portugues-BR;<br />
        - Número de Jogadores:  01 Offline / até 32 Multiplayer Online;<br />
        - Espaço Requerido no Disco Rígido: Requer 30.2GB;<br />
        - Saída de Vídeo: 4096x2160 at60Hz / 1280x720 at144Hz;<br />
        - Classificação: 14 anos.
        
    </p>


    <div class="copywriteLoja">
        <div class="container">
            <p> © 2017 Katiau. Todos os direitos reservados. | Design by <a href="http://w3layouts.com/">w3layouts</a></p>
        </div>
    </div>
    <!---->

</body>
</html>