
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Loja | Katiau PC</title>

    <link href="~/CSS/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />

    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/JS/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


</head>
<body>
    <!-- header -->
    <div class="banner banner2">
        <div class="container">
            <div class="headr-right">
            </div>
            <div class="banner_head_top">
                <div class="logo">
                    <h1><a href="~/Home/Index">Katiau<img src="~/images/Logos/katiaulogo.png" width="50" height="50" /></a></h1>
                </div>
                <div class="top-menu">
                    <div class="content white">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!--/navbar header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="~/Menu/Home">Home</a></li>
                                    <li><a href="~/Menu/Equipe">Sobre</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="scroll dropdown-toggle" data-toggle="dropdown">Análises<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/Posts/Posts">Posts</a></li>
                                            <li><a href="~/Reviews/Reviews">Review PC World</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="~/Menu/Galeria">Galeria</a></li>
                                    <li class="active"><a href="~/Loja/Principal">Loja</a></li>
                                    <li><a href="~/Menu/Contato">Contato</a></li>

                                    @if (ViewBag.Logado == null)
                                    {
                                        <li class="imagemUser">
                                            <span class="loginform" id="loginform">
                                                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                                                <script src="~/JS/index.js"></script>
                                                <img class="login-sign-image" src="~/images/usuarioHover.png"
                                                     onmouseover="this.src='/images/usuario.png'"
                                                     onmouseout="this.src='/images/usuarioHover.png'" />
                                                <div class="login">
                                                    <div class="arrow-up"></div>
                                                    <div class="formholder" style="display: block;">
                                                        <div class="randompad">
                                                            <form method="post" action="/Home/Index">
                                                                <e class="msg-erro-login">@ViewBag.MsgErro</e>
                                                                <label class="email" name="email">Email</label>
                                                                <input type="email" id="email" name="email" />
                                                                <label class="senha" name="password">Password</label>
                                                                <input type="password" id="senha" name="senha" />
                                                                <input type="submit" value="Login" />
                                                                <h4 class="cadastrar">Não possui uma conta? <a href="~/Menu/Cadastro"><strong>Cadastre-se </strong></a></h4>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </li>
                                    }
                                    @if (ViewBag.NivelAcesso == true)
                                    {
                                        <li><a href="~/Adm2/Listar">ADM</a></li>
                                    }
                                    @if (ViewBag.Logado != null)
                                    {
                                        <li class="imagemUser">
                                            <span class="loginform" id="loginform">
                                                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                                                <script src="~/JS/index.js"></script>
                                                <img class="login-sign-image" src="~/images/usuarioHover.png"
                                                     onmouseover="this.src='/images/usuario.png'"
                                                     onmouseout="this.src='/images/usuarioHover.png'" />

                                                <div class="login">
                                                    <div class="arrow-up"></div>
                                                    <div class="formholder" style="display: block;">
                                                        <div class="randompad">
                                                            <a href="~/Perfil/Index"><img class="imagem-logado" src="~/images/img_users/@ViewBag.ImagemU" /></a>
                                                            <p class="login-user-nome">@ViewBag.NomeU <e class="nick-login"><strong>"@ViewBag.NickU"</strong></e><e class="login-user-info"> @ViewBag.SobrenomeU</e></p>
                                                            <a class="deslogar-bt" href="~/Menu/Sair"><strong>Sair</strong></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>
                        <!--/navbar-->
                    </div>
                    <div class="clearfix"></div>

                    <script type="text/javascript" src="~/JS/bootstrap-3.1.1.min.js"></script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!--TITULO E IMAGEM-->
                <h1 class="titulo">Katiau PC</h1>
                <div class="capaPC">
                    <img src="~/images/Logos/pcgame_com_logo.jpg" width="500" height="700" />
                </div>


                <!--CARRINHO DE COMPRAS-->
                <div class="carrinho">
                    <!--BOTÃO COMPRAR-->
                    <strong class="preco">R$ 199,91</strong>
                    <form target="pagseguro" method="post" action="https://pagseguro.uol.com.br/checkout/checkout.jhtml">
                        <input type="hidden" name="email_cobranca" value="suporte@lojamodelo.com.br" />
                        <input type="hidden" name="tipo" value="CBR" />
                        <input type="hidden" name="moeda" value="BRL" />
                        <input type="hidden" name="item_id" value="12345" />
                        <input type="hidden" name="item_descr" value="Katiau PC" />
                        <input type="hidden" name="item_quant" value="1" />
                        <input type="hidden" name="item_valor" value="19991" />
                        <input type="hidden" name="frete" value="0" />
                        <input type="hidden" name="peso" value="0" />
                        <input class="bot_comprar" type="image" name="submit" src="http://static.kabum.com.br/conteudo/temas/001/imagens/icones/comprar_detalhes.png" />
                    </form>

                </div>

                <!--SOBRE O JOGO-->

                <div class="detalhes">
                    <p class="sobre"><strong>Sobre o Jogo</strong></p>

                    <p>
                        Katiau insere o jogador na pele de um piloto de corrida. Sua imersão permite que o usuário vivencie a adrenalina de participar de competições emocionantes, dirigindo um carro de alta potência, totalmente customizável.
                        O jogo utiliza uma engine com física realística, o que aumenta ainda mais ainda a complexidade e o detalhamento deste que é considerado pela crítica como o melhor simulador desse gênero disponível no mercado.
                    </p>
                </div>

                <!--ESPECIFICAÇÕES TECNICAS DO JOGO-->
                <p class="detalhes">
                    <strong>Características:</strong> <br />
                    - Marca: Positivo<br />
                    - Game: Katiau<br />

                    <strong>Especificações:</strong> <br />
                    - Plataforma: PC;<br />
                    - Desenvolvedor: Katiau Enterprise;<br />
                    - Gênero: Simulador;<br />
                    - Idioma: Audio e Legenda Portugues-BR;<br />
                    - Número de Jogadores:  01 Offline / até 32 Multiplayer Online;<br />
                    - Espaço Requerido no Disco Rígido: Requer 30.2GB;<br />
                    - Saída de Vídeo: 4096x2160 @@60Hz / 1280x720 at144Hz;<br />
                    - Classificação: 14 anos.

                </p>
            </div>

            <div class="item">
                <!--TITULO E IMAGEM-->
                <h1 class="titulo">Katiau PC - Deluxe Edition</h1>
                <div class="capaPC">
                    <img src="~/images/Logos/pcgame_com_logo_deluxe.png" width="500" height="700" />
                </div>


                <!--CARRINHO DE COMPRAS-->
                <div class="carrinho">
                    <!--BOTÃO COMPRAR-->
                    <strong class="preco">R$ 359,99</strong>
                    <form target="pagseguro" method="post" action="https://pagseguro.uol.com.br/checkout/checkout.jhtml">
                        <input type="hidden" name="email_cobranca" value="suporte@lojamodelo.com.br" />
                        <input type="hidden" name="tipo" value="CBR" />
                        <input type="hidden" name="moeda" value="BRL" />
                        <input type="hidden" name="item_id" value="12345" />
                        <input type="hidden" name="item_descr" value="Katiau PC - Deluxe Edition" />
                        <input type="hidden" name="item_quant" value="1" />
                        <input type="hidden" name="item_valor" value="35999" />
                        <input type="hidden" name="frete" value="0" />
                        <input type="hidden" name="peso" value="0" />
                        <input class="bot_comprar" type="image" name="submit" src="http://static.kabum.com.br/conteudo/temas/001/imagens/icones/comprar_detalhes.png" />
                    </form>

                </div>

                <!--SOBRE O JOGO-->

                <div class="detalhes">
                    <p class="sobre"><strong>Sobre o Jogo</strong></p>

                    <p>
                        Katiau insere o jogador na pele de um piloto de corrida. Sua imersão permite que o usuário vivencie a adrenalina de participar de competições emocionantes, dirigindo um carro de alta potência, totalmente customizável.
                        Na versão Deluxe, o jogo conta com o Season Pass incluindo todos os pacotes de carros adicionais, tanto os existentes, quanto os que possam ser lançados futuramente.
                    </p>
                </div>

                <!--ESPECIFICAÇÕES TECNICAS DO JOGO-->
                <p class="detalhes">
                    <strong>Características:</strong> <br />
                    - Marca: Positivo<br />
                    - Game: Katiau<br />

                    <strong>Especificações:</strong> <br />
                    - Plataforma: PC;<br />
                    - Desenvolvedor: Katiau Enterprise;<br />
                    - Gênero: Simulador;<br />
                    - Número de Jogadores:  01 Offline / até 32 Multiplayer Online;<br />
                    - Espaço Requerido no Disco Rígido: Requer 30.2GB;<br />
                    - Saída de Vídeo: 4096x2160 @@60Hz / 1280x720 at144Hz;<br />
                    - Classificação: 14 anos.

                </p>
            </div>
        </div>



    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>


    <div class="copywriteLoja">
        <div class="container">
            <p> © 2017 Katiau. Todos os direitos reservados. | Design by <a href="http://w3layouts.com/" style="color: #B01030;">W3layouts</a></p>
        </div>
    </div>
    <!---->


</body>
</html>